<html>
<head>
<title>Sign up</title>
<META HTTP-EQUIV="Cache-Control" CONTENT="no-cache">
</head>
<body>
<center>
<form class="form-horizontal" role="form" method="POST" action=""> 

    {% if elrror %}

    <label class="label label-important"><center><t color="red"> {{ elrror }} <t color="red"></t></center> </label>
    {% endif %}

<label for="username" class="sr-only">Username:</label>
        <input type="username" name="username" id="username" class="form-control" placeholder="username" required autofocus><br></th>


</tr>
<th>
<label for="email" class="sr-only">email:</label>
        <input type="email" name="email" id="email" class="form-control" placeholder="email" required autofocus><br></th>

</tr>
<th>
</tr>
<th>
<label for="email" class="sr-only">email:</label>
        <input type="email" name="email" id="email" class="form-control" placeholder="email" required autofocus><br></th>

</tr>
<th>

 <label for="Password" class="sr-only">Password:</label>
        <input type="Password" name="Password" id="Password" class="form-control" placeholder="Password" required>
</th>
<br><tr>
</tr>
<tr><th>

<label for="vpassword" class="sr-only">verify Password</label>
        <input type="Password" name="vpassword" id="vpaasword" class="form-control" placeholder="verify password" required autofocus><br></th>

</tr>
<input name=_doda_csrf type=hidden value="{{ doda_csrf() }}">

<tr>
<th>
<label for="pgpkey" class="sr-only">pgp</label>
        <input type="pgpkey" style='width=100' name="pgpkey" id="pgpkey" class="form-control" placeholder="Enter your public pgp key" >

</th>
</tr>
<br>
<tr>
<th>
<label for="pgpid" class="sr-only">pgp fingerprint</label>
        <input type="pgpid" style='width=100' name="pgpid" id="pgpid" class="form-control" placeholder="Enter your pgp fingerprint without whitespace" >

</th>
</tr><br>
<input type="checkbox" value="Yes" name="accept" required autofocus>
<t>I promise to respect other members and not write anything that hurts others or myself</t>
<br>

<tr>
<th>
        <button id="btnSignIn" class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
</center>
</form>



</body>


</html>
